@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --darkBackground: #1f2937;
    --buttonColor: #3882f6;
    --quoteBGColor: #e5e7eb;
}
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;

}

header,
footer {
    background-color: var(--darkBackground);
}

header {
    color: #f9FaF8;
    width: 100%;
    /* border: solid yellow; */
    display: flex;
    align-items: center;
    padding: 1rem;
    
}

.headerLogo {
    /* border: solid red; */
    font-size: 24px;
    flex: 1.1;
    text-align: right;
    
}   

.spacer{
    /* border: solid purple; */
    flex: 1;
}

.headerLinks {
    /* border: solid green; */
    font-size: 18px;
    gap: 30px;
    display: flex;
    flex: 2;
    font-weight: lighter;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #e5e7eb;
    cursor: pointer;
}

.section1 {
    padding: 5em 0 5em 0;
    display: flex;
    /* border: solid orange 5px; */
    background-color: var(--darkBackground);
    justify-content: center;
    gap: 70px;
}

.awesome {
    font-size: 48px;
    color: #f9FaF8;
    font-weight: 900;
    border: solid red;
    width: 35%;
}

.section1img {
    height: auto;
    display: block;
}

.subAwesome {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.button {
    background-color: var(--buttonColor);
    color: #e5e7eb;
    display: block;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    border: 0;
}