@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --darkBackground: #1f2937;
    --buttonColor: #3882f6;
    --quoteBGColor: #e5e7eb;
    --fontFamily: Roboto, Arial, sans-serif;

}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--fontFamily);

}

header {
    background-color: var(--darkBackground);
}


header {
    color: #f9FaF8;
    width: 100%;
    display: flex;
    padding: 20px;
}

.headerLogo {
    font-size: 24px;
    flex: 1;
    font-family: var(--fontFamily);
    font-weight: bold;
    display: block;
    margin: auto;
    text-align: left;
    margin-left: 190px;

}

.headerLinks {
    font-size: 18px;
    flex: 1;
    margin: auto;
    font-family: var(--fontFamily);
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: .5rem 1rem;
    
}


a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #e5e7eb;
    cursor: pointer;
}

/* End Header */

/* Start section 1 */

.section1 {
    background-color: var(--darkBackground);
    gap: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.awesome {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    text-align: left;
}

.awesome h1 {
    font-size: 48px;
    color: #f9FaF8;
    font-weight: 900;
    font-family: var(--fontFamily);
}

.image img {
    width: 400px;
    height: auto;
}

.awesome p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 1em;
    font-family: var(--fontFamily);
}

.button {
    flex: 0 1 auto;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #f9faf8;
    font-weight: bold;
    padding-bottom: 2px;
    background-color: var(--buttonColor);
}

.button:hover {
    background-color: #f9FaF8;
    color: var(--buttonColor);
}

/* End Section 1 */

/* Stat Section 2 */

.section2 {
    text-align: center;
}

.section2 h2 {
    font-size: 36px;
}

.sub_section2 {
    display: flex;
    padding: 50px;
    justify-content: center;
}

.sub_section2 figure {
    display: table;
}

.sub_section2 figcaption {
    display: table-caption;
    caption-side: bottom;
}

.s2-image img {
    width: 200px;
    border: solid 3px black;
    border-radius: 8px;
}

.s2-image img:hover {
    transform: scale(1.5);
    transition: 350ms ease-out;
}

.s2-image img:not(hover) {
    transform: scale(1);
    transition: 350ms ease-out;
}


/* Start Section 3 */

.section3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.quote_container>p {
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
    justify-content: center;
    width: 700px;
    color: #1f2937;
    margin-bottom: 0;
}

.thor {
    width: 700px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

/* End Section 3 */

/* Start Section 4 */

.section_4 {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 50px;
}

.section_4 div {
    background-color: var(--buttonColor);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}


.section_4 div .cta {
    display: flex;
    flex-direction: column;
    color: #f9FaF8;
    flex: 3;
}

.section_4 div div {
    margin: 50px;
    flex: 1.5;
}

.button {
    border: 2px solid #f9FaF8;
}


/* Start Footer */

footer {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkBackground);
    color: #e5e7eb;
    padding: 30px;
}